                
//=================================================================================================================================================================
*{
    box-sizing: border-box;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
body{
    background-color: #fff;
    ul,li{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
}
//=================================================================================================================================================================
.conteiner{
    ul{
        li{
            position: relative;
            display: flex;
            align-items: center;
            padding: 0px 0px 20px 30px;
            svg{
                position: absolute;
                top: 0;
                left: 0;
                width: 24px;
                height: 24px;
            }
            span{
                display: inline-block;
            }
        }
    }
}
